 
<div class="container-fluid">
 <div class= "pending-overtime-approval row center">
	 <h2>Items Pending Your Approval</h2>
	  <% @pending_approvals.each do |pending_approval| %>
			<div class="homepage-block col-md-3">
			  <h4>
			    <%= pending_approval.user.full_name %>
			 </h4>
			  <span class="pending-details"> Date Submitted:</span> <%= pending_approval.date %>
			  <span class="pending-details"> rationale:</span> <%= truncate pending_approval.rationale, length: 42 %> 
			 
				<div class="row">
					<div class="col-md-6">
		        <%= link_to "Approve", approve_post_path(pending_approval), class: "btn btn-success btn-block", id:"approve_#{pending_approval.id}" %>
					</div>
					<div class="col-md-6">
		
					  <%= link_to "Review",  edit_admin_post_path(pending_approval), class: "btn btn-warning btn-block" %>
					</div>
				</div>
			</div>	
    <%end%>
	</div>
	<div class= "pending-overtime-approval row center">
	 <h2>Recent Audit Logs</h2>
	  <% @audit_log.each do |audit_log| %>
			<div class="homepage-block col-md-3">
			  <h4>
			    <%= audit_log.user.full_name %>
			 </h4>
			  <span class="pending-details"> Week Starting:</span> <%=  audit_log.start_date %>
			  <span class="pending-details"> confirmed at:</span> <%=  audit_log.end_date %> 
			  <div>
			    <span class="pending-details"> status:</span> <%=  status_label audit_log.status%> 
			  </div>
		  </div>	
    <%end%>
	</div>
	</div>